AUTH_TOKEN=
CL_BASE_URL=https://highcourtchd.gov.in/clc.php
CL_FORM_ACTION_URL=https://highcourtchd.gov.in/view_causeList.php
CASE_SEARCH_URL=https://new.phhc.gov.in/case-status/case-no
CL_JUDGE_WISE_REGULAR_URL=https://new.phhc.gov.in/cause/reg-causelist
PHHC_API_BASE_URL=https://livedb9010.phhc.gov.in
EMAIL_RECIPIENTS=
SENDER_EMAIL=
SENDER_NAME="Cause List Checker"
SENDER_PASSWORD=